[package]
name = "ui"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true }
futures-timer = "3.0.3"
lucide-dioxus = { version = "2.45.0", features = ["all-icons"] }
tailwind_fuse = { git = "https://github.com/slack2450/tailwind-fuse", branch = "main" }

